{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% if items %}
    <h3>Tu Carrito</h3>
    <hr>

    {% for item in items %}
        <div style="display:flex; align-items:center; margin:10px 0;">
            <img src="{{ item.product.images.first.image|default:'/static/images/no-image.svg' }}"
                 style="width:50px;height:50px;object-fit:cover;border-radius:6px;margin-right:10px;">
            
            <div style="flex-grow:1;">
                <strong>{{ item.product.name }}</strong><br>
                <p>{{ item.quantity }} x {{ item.current_price|floatformat:2 }} €</p>
            </div>

            <div class="cart-item-actions">
                <div class="btn-row">
                    <a href="{% url 'add_to_cart' item.product.id %}" onclick="setTimeout(() => location.reload(), 50);" class="btn-adjust">+</a>
                    <a href="{% url 'decrease_from_cart' item.product.id %}" onclick="setTimeout(() => location.reload(), 50);" class="btn-adjust">-</a>
                </div>
                <a href="{% url 'remove_from_cart' item.product.id %}" onclick="setTimeout(() => location.reload(), 50);" class="btn-remove">Eliminar</a>
            </div>

        </div>
    {% endfor %}

    <hr>
    <strong>Total: {{ total }} €</strong>

    <div class="cart-final-actions">
        <a href="{% url 'clear_cart' %}" onclick="setTimeout(() => location.reload(), 50);" class="btn-clear">Vaciar Carrito</a>
        <a href="{% url 'checkout' %}" class="btn-checkout">Ir a Checkout</a>
    </div>

{% else %}
    <p>Tu carrito está vacío.</p>
{% endif %}
