{% extends 'base.html' %}
{% block title %}Pedido completado{% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/order.css' %}">

<div class="order-success-card">
    <h1 class="success-title">¡Gracias por tu pedido!</h1>

    <p class="success-text">
        Tu pedido <strong>#{{ order.order_id }}</strong> se ha creado correctamente.
    </p>

    <div class="success-summary">
        <p><strong>Total:</strong> {{ order.final_price }} €</p>
        <p><strong>Estado:</strong> {{ order.get_status_display }}</p>
    </div>

    <a class="success-btn" href="{% url 'catalog:catalog' %}">
        Seguir comprando
    </a>
</div>
{% endblock %}
