{% extends 'base.html' %}
{% block title %}Perfil de Cliente{% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="profile-container">
  <aside class="sidebar">
    <div class="avatar">
      <svg viewBox="0 0 24 24" fill="none">
        <path d="M12 12a4 4 0 100-8 4 4 0 000 8z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4 20c0-4 4-6 8-6s8 2 8 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>

    <button class="btn">Pedidos</button>
     <a  href="{% url 'profile_edit' %}">
      <button class="btn">Editar perfil</button>
    </a>
    <a href="{% url 'logout' %}">
      <button class="btn btn-logout">Cerrar sesión</button>
    </a>

  </aside>

  <main class="content">
    <h1>¡Hola Cliente!</h1>
    <div class="address-container">
        <div> Dirección: </div>
        <p class="address">{{ customer.address}} </p>
    </div>
    
    <h2>Últimas compras</h2>
    <table class="orders-table">
      <thead>
        <tr>
          <th></th>
          <th>Id pedido</th>
          <th>Fecha estimada entrega</th>
          <th>Importe total</th>
        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </main>
</div>

{% endblock %}
